@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500);

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

button {
  border: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

  background: linear-gradient(0deg, #161718 85.77%, rgba(22, 23, 24, 0) 103.07%)
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  height: 100%;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

/* Мой фреймворк */
.flex {
  display: flex;
}

.justify-content-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.column-align-items-center {
  flex-direction: column;
  align-items: center;
}

/* Мой фреймворк */
.container {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: url(../img/HeaderBcg.jpg) no-repeat;
  height: 726px;
  background-size: 100%;
}

.menu {
  min-height: 119px;
}

.header__title {
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
  max-width: 576px;
}

.nav-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 247px;
  width: 100%;
}

.menu__logo {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.social {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 176px;
  width: 100%;
}

.social__item:hover,
.nav__item:hover {
  color: #5d5d5d;
  transition: 0.3s;
}

.header__footer {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background: url(../img/headerBottom.svg) no-repeat;
  height: 120px;
  width: 100%;
  background-position: right;
  margin-bottom: -10px;
  position: relative;
  z-index: 3;
}

.about-container {
  width: 100%;
  background: linear-gradient(0deg, #161718 85.77%, rgba(22, 23, 24, 0) 103.07%);
  min-height: 790px;
  margin-top: -90px;
  height: 100%;
  position: relative;
  z-index: 1;
}

.about {
  min-height: 593px;
  /* position: relative; */
  /* top: 140px; */
  padding-top: 140px;
  width: 100%;
}

.about-info {
  padding-right: 40px;
}

.about-info__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
}

.about-info__txt {
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
}

.about-info__btn {
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  border: 1px solid #FFFFFF;
  border-radius: 43px;
  width: 211px;
  height: 44px;
  background: url(../img/aboutArrow.svg) no-repeat;
  background-position: 95%;
  transition: 0.4s;
}

.about-info__btn:hover {
  font-weight: 400;
  background-color: #FFFFFF;
  transition: 0.5s;
  color: black;
  background-image: url(../img/aboutArrowBlack.svg);
  background-position: 95%;
}

.about-info__btn span {
  margin-left: -20px;
}

.drinks-name-title-price {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.drinks-name-title-price-name {
  margin-left: 119px;
}

.drinks-name-title-price-price {
  margin-right: 19px;
}

.our-menu {
  background: url(../img/menuBcg.jpg) no-repeat;
  min-height: 531px;
  background-size: 100%;
  margin-top: -10px;
}

.our-menu__drinks {
  flex: 0 1 70%;
}

.drinks__item-name {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-left: 119px;
}

.drinks__item-price {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.drinks__item {
  border-bottom: 1px solid #FFFFFF;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-menu__logo-btn {
  padding-left: 20px;
  flex: 0 1 30%;
}

.logo-btn__logo {
  font-weight: 300;
  font-size: 64px;
  line-height: 78px;
}

.logo-btn__btn {
  margin-left: 23px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #FFFFFF;
  border-radius: 68px;
  width: 204px;
  height: 35px;
  background: url(../img/menuArrow.svg) no-repeat;
  background-position: 93%;
}

.logo-btn__btn:hover {
  font-weight: 500;
  transition: 0.5s;
  color: #000000;
  background-color: #ffffff !important;
  background: url(../img/menuArrowBlack.svg)no-repeat;
  background-position: 93%;
}

.logo-btn__btn span {
  margin-left: 34px;
}

.footer {
  margin-top: auto;
  width: 100%;
  height: 319px;
  background-color: #FFFFFF;
  color: #000000;
}

.footer__logo-ul {
  margin-top: 70px;
}

.footer__logo {
  font-weight: 100;
  font-size: 96px;
  line-height: 117px;
  margin-right: 23px;
}

.footer__ul {
  height: 94px;
}

.footer__ul-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.footer__adress {
  max-width: 421px;
  width: 100%;
  margin: 104px 0 0 91px;
}

@media(max-width:1166px) {
  .container {
    max-width: calc(100% - 30px);
  }

  .header {
    background-size: auto;
    background-position: center;
  }

  .about {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .about-info {
    padding: 50px;
    gap: 30px;
  }

  .our-menu {
    background-size: auto;
    background-position: 60%;
  }
}

@media(max-width:833px) {
  .footer__logo-ul {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    height: 400px;
    padding-bottom: 50px;
  }

  .footer__ul {
    margin-top: 30px;
  }

  .footer__adress {
    margin: 40px 0 0 0;
    flex-wrap: wrap;
  }

  .logo-btn__btn {
    margin-right: 5px;
  }

  .drinks__item-name {
    margin-left: 60px;
  }
}

@media(max-width:576px) {
  .logo-btn__logo {
    font-size: 50px;
  }

  .footer__logo {
    font-size: 70px;
  }

  .logo-btn__btn {
    margin-top: 20px;
  }

  .our-menu__logo-btn {
    margin-top: 20px;
  }

  .drinks__item-name {
    margin-left: 30px;
  }

  .our-menu {
    flex-direction: column;
  }

  .our-menu__drinks {
    flex: 0 1 100%;
    width: 100%;
  }

  .drinks__item-price {
    margin-right: 10px;
  }

  .about-info__title {
    font-size: 40px;
  }

  .about-info__txt {
    font-size: 16px;
  }

  .header__title {
    font-size: 35px;
  }

  .menu {
    flex-direction: column;
    padding-top: 20px;
    height: 170px;
  }

  .menu__logo {
    font-size: 27px;
  }
}